body {
  font-family: helvetica, arial;
  background: #232;
  font-size: 6em;
  padding: 20px;
  color: #fff;
}

#main {
  float: left;
  width: 50%;
}

#sub {
  float: right;
  width: 50%;
}

.pad {
  padding: 10px;
}

dl {
  float: left;
  clear: left;
  margin: 0;
}

dt {
  font-size: large;
  margin: 0;
  color: #ccc;
}

dd {
  margin: 0 0 10px 0;
}

#five-hundred dd {
  font-size: 1.5em;
}
