body {
  font-family: helvetica, arial;
  background: #232;
  color: #fff;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

a {
  color: #fc0;
  text-decoration: none;
}

.pad {
  padding: 10px;
}

